calsoap-api/src/main/mule/calsoap-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="022ef164-9f92-4c91-9712-cd53c546ee41" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="fad47be3-f6b3-47a4-adcf-412981845183" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" />
	</wsc:config>
	<flow name="calsoap-apiFlow" doc:id="90d44a49-e31a-49fd-9677-b3caae3a1497" >
		<http:listener doc:name="Listener" doc:id="823f3768-191b-4d01-856a-f07029510991" config-ref="HTTP_Listener_config" path="calsoap-api"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="a187ff9b-69b1-4a63-b5ad-3dddfdb25ecc" variableName="number1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="51e6d072-7a9e-44dc-9758-0d3b5a795be4" variableName="number2"/>
		<ee:transform doc:name="Transform Message" doc:id="4c5b2c9a-f3fd-4cc9-bc5c-f3547fd2ec77" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: vars.number1 as Number,
		ns0#intB: vars.number2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Add" doc:name="Consume" doc:id="6a51a18d-539c-4d34-b9cb-1c330c998768" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="2760dab8-9ebf-4360-a36f-cd3e91f4a595" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="633363bc-f90b-49e0-a6f0-ac13701d21a2" message="#[payload]"/> 
		<logger level="INFO" doc:name="Logger" doc:id="633363bc-f90b-49e0-a6f0-ac13701d21a2" message="hi"/>
	</flow>
</mule>
